<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiqe6W1aCyKTw8JEJNx1o-QARVxfS3Fic</string>
	<key>GCM_SENDER_ID</key>
	<string>589158076330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesam.spotifyClone</string>
	<key>PROJECT_ID</key>
	<string>spotify-clone-2167e</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-clone-2167e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589158076330:ios:ac183b23bd6c2a52c325d3</string>
</dict>
</plist>